*{
    margin: 0px;
}
.container{
    margin-top: 70px;
}
.nav-main{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
}
.logoyt{
    height: 20px;
    width: 90px;
    margin-left: 60px;
}
.voice, .bell{
    width: 34px;
    height: 34px;
}
.cam{
    margin-left: 100px;
}
.mic{
    width:40px;
    height: 34px;
    border-radius: 50%;
    margin-left: 20px;
}
.bell{
   margin: 10px;
   margin-top: 0px;
}
.sbar{
    width:500px;
}
.voice{
    margin-left: 10px;
}
.videos-section{
    display:flex;
    flex-wrap: wrap;
    background-color: #f0f2f5;
}
.videos{   
margin: 10px;
}
.image{
    background-color: grey;
}
.logo{
    border-radius: 50%;
    margin-top: 1rem;
    margin-right:1rem;
    cursor: pointer;
    background-color: grey;
}
h5{
    font-size: 1rem;
    cursor: pointer;
}
.channel{
    margin-left: 3rem;
   font-size: 0.7rem;
   cursor: pointer;
   
}
.detail{
    margin-left: 3rem;
    font-size: 0.7rem;
    margin-top: -5px;
    cursor: pointer;
}
